
:root {
    --black-100: #000000;     /* Jet Black */
    --black-90: #1a1a1ad2;       /* Charcoal Black */
    --black-80: #333333;       /* Onyx */
    --gold-100: #FFD700;       /* Pure Gold */
    --gold-90: #D4AF37;        /* Antique Gold */
    --gold-80: #BFA046;        /* Soft Gold */
    --blush: #F4C2C2;
    --ivory: #FFFFF0;
    --emerald: #004D43;
}@media (max-width:980px){
    .nav-info-links{
        flex-direction: column;
        min-height: 4em;
    }
    .ham-menu{
        margin-right: 1em;
        transition: ease .3s;
        display: block;
        align-self: center;
    }
    header{
        width: 100%;
    }
    header h{
        width: fit-content;
        font-size: 1.5em;
    }
    header ul{
        display: none;
    }
    header ul.active{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        flex-direction: column;
        position: absolute;
        background: linear-gradient(to bottom right,var(--emerald),transparent);
        border-radius: 20px;
        border: solid 1px var(--gold-90);
        filter: drop-shadow(0 0 10px var(--emerald));
        width: 8em;
        height: 15em;
        padding: 0;
    }

    .ham-menu:hover{
        transform: rotateZ(180deg);
    }

    .body_main .body_intro h1{
        font-size: 1.8em;
    }
    .body_main .body_intro h2{
        font-size: 1.1em;
    }

    .body_intro a{
        padding: 10px 8px;
        font-size: 1em;
    }

    /*gallery*/
    .gallery h{
        font-size: 2em;
    }
    .gallery p{
        font-size: 1.2em;
    }

    /*gallery item img size*/

    .gallery-item{
        max-width: 280px;
        min-height: 220px;
    }
    /*Button in gallery to more*/
    .galllery a{
        padding: 5px 15px;
    }

    /*About us*/
    .about_us h1{
        font-size: 2em;
    }
    .about_us p{
        font-size: 1.2em;
        padding: 0 1em;
    }


    /* contact us*/

    .contact h2{
        font-size: 2em;
    }

    /* Contact Form */
  form{
    max-width: 320px;
  }
  .team .text h{
    font-size: 2.1em;
  }
  .team .team_img img{
    max-width: 18em;
  }
}